html, body {padding:0; margin:0; height:100%;}
footer{position: absolute; bottom: 0; left: 0; right: 0;}

body {
  background-color: black;
  font-family: "Saira", sans-serif;
}

h1, h2, h3{
    color: white;
    text-align: center;
}

footer {
    background-color: red;
}

header {
    background-color: blue;
}

#icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

#teaser{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#error{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 150px;
}

#error2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 200px;
}

p {
  text-align: center;
}

#footer{
    display: block;
    text-align: center;
    font-size: 0.75em;
    bottom:0;
    width: 100%;
    height: 30px;
    position: fixed;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.centered {
    text-align: center;
}

.grey {
    color: #262626;
    padding: 15px;
}

.white {
    color: white;
    padding: 15px;
}

.text {
    color:white;
    text-align:center;
}

.thumbnail {
    text-align: center;
    scale: 60%;
}

.game {
}


.half-scaled {
    scale: 50%;
}

a {
    text-decoration:none;
    font-weight: bold;
}

.game-button {
  border: dotted;
  cursor: pointer;
  text-align:center;
  padding:12px;
  width: 100px;
}

.menu-button {
  border: dotted;
  color: white;
  cursor: pointer;
  text-align:center;
  padding:12px;
}

.menu-button:hover {
  color:yellow;
}

.navmenu {
    text-align: center;
}
