html {
  
}

body {
  background-color: black;
  font-family: "Saira", sans-serif;
}

h1, h2, h3{
    color: white;
    text-align: center;
}

#icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

#teaser{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#error{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 150px;
}

#error2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 200px;
}

p {
  text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.centered {
    text-align: center;
}

.grey {
    color: #262626;
    padding: 15px;
}

.white {
    color: white;
    padding: 15px;
}

.text {
    color:white;
    text-align:center;
}

a {
    text-decoration:none;
    font-weight: bold;
}

.menu-button {
  border: dotted;
  color: white;
  cursor: pointer;
  text-align:center;
  padding:12px;
}

.menu-button:hover {
  color:yellow;
}

.navmenu {
    text-align: center;
}
